<h1>Admin Panel</h1>
<div class="panel panel-default">
  <div class="panel panel-heading">
    Admin Panel
  </div>
  <div class="panel panel-body">
    <ul>
      <li><%= link_to "Ingest a New Record", hydra_editor.new_record_path %></li>
      <li><%= link_to "Edit User Roles", role_management.roles_path %></li>
    </ul>
  </div>
</div>
