<div class="form-group">
  <label class="control-label col-sm-2">Top Terms:</label>
  <div class="col-sm-10">
    <ul class="form-control-static">

      <% field.topTerms.each_slice(2) do |term, count| %>
        <li><%= term %> - <%= count %> 
        <% if property == :set %>
          <% if FacetItem.find_by_value(term).visible? %>
            <%= link_to("Remove", "/admin/facets/"+FacetItem.find_by_value(term).id.to_s+"/remove_item") %>
          <% else %>
            <%= link_to("Add", "/admin/facets/"+FacetItem.find_by_value(term).id.to_s+"/add_item") %>
          <% end %>
        <% end %> 
        </li>
    <% end %>
    </ul>
  </div>
</div>
