<div class="form-group">
  <label class="control-label col-sm-2">Top Terms:</label>
  <div class="col-sm-10">
    <ul class="form-control-static">
      <% field.topTerms.each_slice(2) do |term, count| %>
        <li><%= term %> - <%= count %></li>
    <% end %>
    </ul>
  </div>
</div>
