<h1> Currently Configured Facets </h1>
<div id="facets">
  <% @facets.active.each do |property, field| %>
    <%= render :partial => "field", :locals => {:property => property, :field => field} %>
  <% end %>
</div>

<h1>Fields to Facet On</h1>
<% @facets.inactive.each do |property, field| %>
  <%= render :partial => "field", :locals => {:property => property, :field => field} %>
<% end %>

