<h1> Currently Configured Facets </h1>
<div id="facets">
</div>

<h1>Fields to Facet On</h1>
<% @solr_fields.each do |property, field| %>
  <%= render :partial => "field", :locals => {:property => property, :field => field} %>
<% end %>

