<div id="sidebar" class="col-md-3 col-sm-4">
</div>
<div id="content" class="col-md-9 col-sm-8">
  <h2>
    Digital Collections
  </h2>
  <% if @collections.nil? %>
    <p>
      There are currently no collections.
    </p>
  <% else %>
    <ul>
      <% @collections.each do |collection| %>
        <li>
          <a href="<%= sets_index_path(collection.id) %>"> 
            <%= collection.title.first %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
