@import "variables";
@import "blacklight";
@import "blacklight_advanced_search";

@import "main";
@import "openseadragon";
.tooltip-inner {
    max-width: 500px;
    max-height: 250px;
    height: auto;
    display: inline-block;
}
